
#modulos-teoria {
    display: flex;
    flex-direction: column;
    gap: 4rem;

}

#titulo-pag {
margin-bottom: 2%;
color: #569B51;
font-size: 3rem;
text-align: center;
}

.conteudos {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    padding: 2%;

}

.conteudos p, li, pre {
    color: #2D2D2D;
    font-size: 1.6rem;
}

.conteudos img {
    border-radius: 0.5rem;
    align-self: center;
}

.modulo-principal {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 10%;
}

.modulo{
    display: flex;
    flex-direction: column;
}

#links {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.alteracoes {
    display: flex;
    flex-direction: row;
    gap: 55rem;
    align-items: center;

}

.alteracoes a{
    font-size: 1.2rem;
    color: #2D2D2D;
    font-weight: 600;
    text-decoration: underline;
    margin-bottom: 2rem;
    transition: 0.2;
}

.alteracoes a:hover{
    font-size: 1.2rem;
    color: #45a049;
    font-weight: 600;
    cursor: pointer;
}

.conteudos h2 {
    margin-bottom: 1%;
}

.conteudo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;

  
}

#criarModulo {
    font-size: 1.2rem;
    color: #2D2D2D;
    font-weight: 500;
    border-radius: 8px;
    background-color: #f1f1f1;
    border: 2px solid #45a049;
}

#criarModulo:hover {
    background-color: #45a049;
    color: white;
    scale: 1.10;
}

.conteudo button {
    font-size: 1.2rem;
    color: #2D2D2D;
    font-weight: 500;
    border-radius: 8px;
    background-color: white;
    border: 2px solid #45a049;

}
.conteudo button:hover {
    background-color: #45a049;
    color: white;
    scale: 1.10;

}

.tit-modulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 2px ;
    padding: 1%;
    transition: 0.4s;

}

.tit-modulo:hover {
    background-color: rgb(226, 226, 226);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    transition-duration: 0.45s;
    cursor: pointer;
    /* transform: rotate(90deg);  */

}

.tit-modulo p {
    color: #2D2D2D;
    font-size: 1.2rem;
    transition: 0.4s;
}

.aviso {
    background-color: rgb(216, 0, 0);
    display: none;
    flex-direction: column;
    align-items: center;
    height: 5rem;
    justify-content: center;
    border-radius: 8px;
    padding: 1.5rem;
    text-align: center;

}

.botoes-simNao {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}


.botoes-simNao button {
    background-color: white;
    border-radius: 8px;
    padding: 5px 10px;
    color: #2D2D2D;
    transition: 0.5s;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 2rem;
    width: 5rem;
    
}

.botoes-simNao button:hover{
    background-color: #2D2D2D;
    color: white;

}

.aviso h2 {
    color: white;
}

.pratica {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 3rem;
}