<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styleGeral.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/login_cadastro/style_loginCadastro.css')}}">
    <title>Cadastro</title>
</head>

<body>
    
    {%include 'header.html'%}

    {%block content%}


    <main>
        <section id="cadastro">
            <h1>CADASTRO</h1>
            <form action="" method="get">
                <label>
                    Data de Nascimento *
                    <input type="date" name="dataNasc" required>
                </label>
                <label>
                    Nome completo *
                    <input type="text" name="nome" required>
                </label>
                <label>
                    Email *
                    <input type="email" name="email" required>
                </label>
                <label>
                    Senha *
                    <input type="password" name="senha" required>
                </label>
                <button>CADASTRAR</button>
                <p>Já tem uma conta? <a href="">Entre na sua conta</a></p>
            </form>
        </section>
    </main>

    {%endblock%}

    {%include 'footer.html'%}

</body>

</html>