<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static', filename='css/conteudos/conteudos.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/styleGeral.css')}}">

  <title>Editar Post</title>

</head>

<body>

  {%include 'header_sair.html'%}

  {%block content%}

  <main>
    <form method="POST">
      <h1>Editar Conteúdo</h1>

      <div class="menu-container">
        <label for="menu">Escolha uma turma:</label>
        <select id="menu" class="menu">
          <option value="turma"> Turma | {id} </option>
          <option value="turma"> Turma | {id} </option>
          <option value="turma"> Turma | {id} </option>
          <option value="turma"> Turma | {id} </option>

        </select>
      </div>

      {{form.hidden_tag() }}

      {{form.titulo.label(class = 'label' )}}
      {{form.titulo(class = 'titulo textarea', oninput="autoResize(this)" )}}

      {{form.subtitulo.label(class = 'label' )}}
      {{form.subtitulo(class = 'subtitulo textarea')}}

      {{form.texto.label(class = 'label' )}}
      {{form.texto(class = 'textos textarea')}}

      {{form.slug.label(class = 'label' )}}
      {{form.slug(class = 'slug textarea')}}

      {{form.submit(class = 'but-submit')}}

    </form>

    {{ ckeditor.load() }}
    {{ ckeditor.config(name='texto') }}


  </main>


  {%endblock%}

  {%include 'footer.html'%}


</body>

</html>