<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/modulos/modulos.css')}}">
    <script src="{{url_for('static', filename='js/digitacao.js')}}" defer></script>
    <script src="{{url_for('static', filename='js/modulo.js')}}" defer></script>

    <title>Página de Posts</title>

</head>

<body>

    {%include 'header_sair.html'%}

    {%block content%}

    <section id="modulos-teoria">
        <div class="modulo-principal">
            <h1 id="titulo-pag">Módulos</h1>

            <div class="tit-modulo">
                <h1>(id_modulo) Título do módulo</h1>
                <p class="toggle">▶</p>
            </div>
            <div class="conteudos">
                <h2>● Descrição do módulo</h2>
                {%for post in posts%}
                <div class="conteudo">
                    <h3>{{post.titulo}}</h3>
                    <a href="{{url_for('post', id_conteudo = post.id_conteudo)}}"><button>Ver Conteúdo</button></a>
                </div>
                {%endfor%}
            </div>



        </div>
    </section>




    <!-- <main>
        <h1>BLOG POSTS</h1>
        <br>
        {%for post in posts%}
        <div class="conteudos">
            <h1>{{post.titulo}}</h1> <br>
            {{post.subtitulo}}<br>
            <br>
            <a href="{{url_for('post', id_conteudo = post.id_conteudo)}}"><button>Ver Conteúdo</button></a>
            <a href="{{url_for('editar_post', id_conteudo = post.id_conteudo)}}"><button>Editar</button></a>
            <a href="{{url_for('deletar_post', id_conteudo = post.id_conteudo)}}"><button>Deletar</button></a>
        </div>
        <br> <br>
        {%endfor%} -->



    </main>


    <!-- PARA GERAR UM PDF DO CONTEÚDO https://pythonhosted.org/Flask-WeasyPrint/ -->


    {%endblock%}

    {%include 'footer.html'%}





</body>

</html>