<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/modulos/modulos.css')}}">
    <script src="{{url_for('static', filename='js/modulo.js')}}" defer></script>

    <title>Document</title>
</head>

<body>

    {%include 'header_sair.html'%}

    {%block content%}

    <main>
        <h1 id="titulo-pag">Conteúdos para ler e praticar...</h1>

        <section id="modulos-teoria">
            <div class="modulo-principal">
                <div class="tit-modulo">
                    <h1>1. Segurança na web</h1>
                    <p class="toggle">▶</p>
                </div>
                <div class="conteudos">
                    <h2>● Como se proteger na internet </h2>
                    <div class="conteudo">
                        <h3>1: Fake News</h3>
                        <a href="conteudos"><button>Começar</button></a>
                    </div>
                    <div class="conteudo">
                        <h3>(id_conteudo): Nome</h3>
                        <button>Começar</button>
                    </div>
                    <div class="conteudo">
                        <h3>(id_conteudo): Nome</h3>
                        <button>Começar</button>
                    </div>
                </div>
            </div>

            <div class="modulo-principal">
                <div class="tit-modulo">
                    <h1>(id_modulo) Título do módulo</h1>
                    <p class="toggle">▶</p>
                </div>
                <div class="conteudos">
                    <h2>● Descrição do módulo</h2>
                    <div class="conteudo">
                        <h3>(id_conteudo): Nome</h3>
                        <button>Começar</button>
                    </div>
                    <div class="conteudo">
                        <h3>(id_conteudo): Nome</h3>
                        <button>Começar</button>
                    </div>
                    <div class="conteudo">
                        <h3>(id_conteudo): Nome</h3>
                        <button>Começar</button>
                    </div>
                </div>
            </div>
        </section>
        
    </main>

    {%endblock%}

    {%include 'footer.html'%}

</body>

</html>