<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/modulos/modulos.css')}}">
    <script src="{{url_for('static', filename='js/modulo.js')}}" defer></script>

    <title>Document</title>
</head>

<body>

    {%include 'header_sair.html'%}

    {%block content%}

    <main>
        <h1>BLOG POSTS</h1>
        <br>
        <div class="conteudos">
            <h1>{{post.titulo}}</h1> <br>
            {{post.subtitulo}}<br>
            {{post.texto}} <br>
        </div>
        <br> <br>
        <a href="{{url_for('posts')}}"><button>Voltar</button></a>
        
    </main>

    {%endblock%}

    {%include 'footer.html'%}

</body>

</html>