
h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin: 2% 30%;
}

label {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.2rem;

}

input {
    padding: 2% 3%;
    border-radius: 8px;
    border-color: rgb(186, 186, 186);
    font-size: 1.2rem;
}

section h1 {
    color: #569B51;
    font-size: 3rem;
}

section {
    gap: 5px;
}

section button {
    padding: 1% 2%;
    color: white;
    font-weight: 600;
    font-size: 1.8rem;
}

section p {
    text-align: center;
    color: #2D2D2D;
    font-weight: 500;
    font-size: 1.1rem;
}

p a {
    color: rgb(158, 0, 0);
}

p a:hover {
    text-decoration: underline;
    color: #2D2D2D;
}

#vertente {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 3%;
}

#como{
    text-align: start;
}

#botoes {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#botoes button {
    padding: 15px 50px;
    background-color: white;
    color: #2D2D2D;
    border: 2px solid #569B51;
}

#botoes button:hover {
    background-color: #569B51;
    color: white;
}

#aluno {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#professor {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.but_submit{
    background-color: #569B51;
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    color: white;
    transition: 0.5s;
    font-size: 1.2rem;

}

.but_submit:hover {
    background-color: #2D2D2D;
    color: white;
    cursor: pointer;
}
