/* Teclado */

body {
    overflow: -moz-hidden-unscrollable;
}

.porcentagem  {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    border: solid 1px #acacac;
    border-radius: 8px;
    background-color: white;
    padding: 1%;

}

h1 {
    font-size: 3rem;

}


#titulo_ativ {
    color: #569B51;
    font-size: 3rem;
    text-align: center;

}

#letras {
    max-width: 50rem;
    width: 100%;
    letter-spacing: 1rem;
    font-size: 2.5rem;
    text-align: center;
    border: solid 1px #acacac;
    border-radius: 8px;
    background-color: white;
    padding: 1%;
    word-wrap: break-word;
    font-weight: 500;
}

#teclado{
    background-color: #dddddd;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 3px 3px 1px 3px #6b6b6b;

}


#atv-digit {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}


.container {
    margin: 0;
}

.row {
    width: 100%;
    height: 4rem;
}

.one,
.two,
.three,
.four{
    margin: 0.5rem 0 0;
    flex-direction: row;
    justify-content: space-between;
}

.five {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.but-digit {
    color: rgb(68, 68, 68);
    font-weight: 600;
    width: 50px;
    height: 50px;
    border: none;
    background: rgb(255, 255, 255);
    box-shadow: 3px 3px 0.2px 2px #6b6b6b;
    font-size: 1rem;
    margin-left: 6px;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20%;
    padding: 0.2rem;
}


.print {
    width: 75px;
    border-radius: 10px;
}

.back {
    width: 138px;
    border-radius: 10px;
}

.tab {
    width: 105px;
    border-radius: 10px;
}

.slace {
    width: 80px;
    border: 10px;
}

.cap {
    width: 86px;
    border-radius: 10px;
}

.enter-btn {
    width: 99px;
    border-radius: 10px;
}

.shift {
    width: 125px;
    border-radius: 10px;

}

.last {
    width: 46px;
    border-radius: 10px;
}

.space {
    width: 388px;
    border-radius: 10px;

}

#avante {
    display: flex;
    background-color: #6b6b6b;
    width: auto;
    font-size: 1.5rem;
    align-self: flex-end;
}

#avante:hover {
    display: flex;
    background-color: #6b6b6b;
    width: auto;
    font-size: 1.5rem;
    align-self: flex-end;
}